<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'MY_BASECAMP_2', root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to 'About Us', home_about_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Projects', projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Project', new_project_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Profile Edit', edit_user_registration_path, class: "nav-link" %>
        </li>

        <!-- 🔹 Admin-Only Links -->
        <% if current_user.has_role?(:admin) %>
          <li class="nav-item">
            <%= link_to 'User Management', users_path, class: "nav-link" %> <!-- See Users Table -->
          </li>
          
        <% end %>
        <!-- 🔹 End Admin-Only Links -->

        <li class="nav-item">
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-secondary", data: { turbo: false } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
